## **Exercise 2: Data Types and Variables**

---
Name - Anish Rao

Student Number - 20066423

Group - C

---

[Colab Notebook Link](https://colab.research.google.com/drive/1jaDHXdxnPFcwRa-J_bMff5OOVqfSpOyf?usp=sharing)

1. Create a variable `age` and assign it the value 25.

In [ ]:
age = 25

2. Create a variable `name` and assign it a string containing your name.

In [ ]:
name = "Anish Rao"

3. Print the type of the variable `age`.

In [ ]:
print(type(age))

<class 'int'>

4. Convert the variable `age` to a string and store it in a new variable `age_str`.

In [ ]:
age_str = str(age)
print(type(age_str))

<class 'str'>

5. Create a variable `height` and assign it the value 175.5 (floating-point number).

In [ ]:
height = 175.5

6. Print the type of the variable `height`.

In [ ]:
print(type(height))

<class 'float'>

7. Create a variable `is_student` and assign it a boolean value representing whether you
are a student or not.

In [ ]:
is_student = True

8. Print the type of the variable `is_student`.

In [ ]:
print(type(is_student))

<class 'bool'>

9. Create a list `colors` containing the names of three colors.

In [ ]:
colors = ["red", "blue", "green"]

10. Print the second element of the list `colors`.

In [ ]:
print(colors[1])

blue

11. Create a tuple `dimensions` containing the length, width, and height of a box.

In [ ]:
dimensions = (10, 20, 15)

12. Print the third element of the tuple `dimensions`.

In [ ]:
print(dimensions[2])

15

13. Create a dictionary `person` with keys "name", "age", and "city", and assign appropriate
values.

In [ ]:
person = {"name": "Anish Rao", "age": 25, "city": "Dublin"}

14. Print the value associated with the key "age" in the dictionary `person`.

In [ ]:
print(person["age"])

25

15. Create a set `unique_numbers` containing three unique integers.

In [ ]:
unique_numbers = {1, 2, 3}

16. Add a new integer to the set `unique_numbers`.

In [ ]:
unique_numbers.add(4)
print(unique_numbers)

{1, 2, 3, 4}

17. Create a variable `x` and assign it the value 10.

In [ ]:
x = 10

18. Increment the value of `x` by 5.

In [ ]:
x += 5
print(x)

15

19. Create a variable `y` and assign it the value of `x` squared.

In [ ]:
y = x ** 2
print(y)

225

20. Swap the values of variables `x` and `y`.

In [ ]:
print("x =", x)
print("y =", y)
x, y = y, x
print("After swapping:")
print("x =", x)
print("y =", y)

x = 15
y = 225
After swapping:
x = 225
y = 15